body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #ffdd57;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #ffdd57;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.navbar-toggler:focus {
  outline: none;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  margin: auto;
  display: block;
}

/* Example container styles */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px; /* Adjust as needed */
}
